# HmgTools


# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates




# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


# VS Cache/options directory
.vs/


# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user


# Visual Studio code coverage results
*.coverage
*.coveragexml


# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj



# NuGet Packages
*.nupkg


# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

